body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
	background-color:#BEC8F9;
}
h1{
    text-align: center;
    margin-top: 50px;
    color: #0B335F ;
    font-weight: bold;
}

.left-pannel
{
    width: 40%;
    float: left;
    border: 2px solid #0B1E5F ;
    border-radius: 10px;
    height: 400px;
    padding:20px 0 0 10px;
    margin-top: 50px;
}
.right-section
{
    width: 40%;
    float: left;
    margin-left: 50px;
    height: 400px;
    margin-top: 50px;
}
input[type=text]
{
    border: 2px solid #0B1E5F;
    width: 80%;
    border-radius: 4px;
    background-color: aliceblue;
}
input[type=email]
{
    border: 2px solid #0B1E5F;
    width: 80%;
    border-radius: 4px;
    background-color: aliceblue;
}input[type=number]
{
    border: 2px solid #0B1E5F;
    width: 80%;
    border-radius: 4px;
    background-color: aliceblue;
}
.label
{
    color: #374471 ;
    padding-top: 8px;
}
input[type=radio]
{    width: 40px;
    color: #0B1E5F;
}
.form-row
{
    font-weight: bold;
}
select
{
    width: 80%;
    border: 2px solid #0B1E5F;
    background-color: aliceblue;
    border-radius: 4px;
    color: #2A3568;
}
table
{
    width: 100%;
}
#employ-list thead th  {
    border: 2px solid #0B1E5F;
    color: #2A3568 ;
    text-align: center;
}
#add-butn
{
    width: 100px;
    border: 2px solid #0B1E5F;
    border-radius: 4px;
    color: #374471;
    padding: 5px;
    margin-top: 20px;
}